*.class

*.mf


# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

*.xml

/ShoppingCart/nbproject/private/
/ShoppingCart/build/
/ShoppingCart/dist/
/nbproject/private/
/build/
/dist/